
/* menu::base */
* { margin:0;
    padding:0;
}

div#menu-contenedor { margin:1px auto; }
div#copyright {
    font:11px 'Trebuchet MS';
    color:#222;
    text-indent:30px;
    padding:40px 0 0 0;
}
div#copyright a { color:#000; }
div#copyright a:hover { color:#222; }
div#danilo a {text-decoration:none}
div#danilo a:hover {text-decoration:underline;}

body{
    background-image: url("images_eapisi/fondo.gif");
}
div#menu-contenedor {
    background-color:#75289A;
    

}
.menu-fijo {
    position: fixed;
    top: 0;
   width: 1000px;
	z-index:99999;
}

div#menu-contenedor ul.menu {

}

div#menu-contenedor li {
    position: relative;
    z-index: 9;
    margin: 0;
    display: block;
    
}
div#menu-contenedor li:hover>ul {
    left: -2px;
}

div#menu-contenedor a {
    position: relative;
    z-index: 10;
    height: 41px;
    display: block;     
    line-height: 41px;
    text-decoration: none;
    font: normal 12px Trebuchet MS;
}
div#menu-contenedor a:hover, div#menu-contenedor a:hover span { color: #fff; }
div#menu-contenedor li.current a {}

div#menu-contenedor span {
    display: block;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: 95% 0;
}
div#menu-contenedor ul ul a.parent span {
    background-position:95% 8px;
    background-image: url(images_eapisi/item-pointer.gif);
}
div#menu-contenedor ul ul a.parent:hover span {
    background-image: url(images_eapisi/item-pointer-mover.gif);
}
div#menu-contenedor ul ul a.parent span {
    background-position:95% 8px;
    background-image: url(images_eapisi/item-pointer.gif);
}
/* menu::level1 */
div#menu-contenedor a {
    padding: 0 10px 0 10px;
    line-height: 30px;
    color: #fff;
}

div#menu-contenedor a:hover{
    padding: 0 10px 0 10px;
    line-height: 30px;
    text-align: center;
    color: #75289A;
}

.glyphicon :hover{
    color: white;
}


div#menu-contenedor span {
    margin-top: 5px;
}/**@replace#1*/
div#menu-contenedor li {border-right: 1px solid white;}
div#menu-contenedor li.last { border-right: 0; }

/* menu::level2 */
div#menu-contenedor ul ul li { background: none; }
div#menu-contenedor ul ul {
    position: absolute;
    top: 38px;
    left: -999em;
    width: 163px;
    padding: 5px 0 0 0;
    background: none repeat scroll 0% 0% #1D4B73;
    margin-top:1px;
	
}

div#menu-contenedor ul ul a {
    padding: 0 0 0 15px;
    height: auto;
    float: none;
    display: block;
    line-height: 24px;
    color: rgb(169,169,169);
}
div#menu-contenedor ul ul span {
    margin-top: 0;
    padding-right: 15px;
    _padding-right: 20px;
    color: rgb(169,169,169);
}
div#menu-contenedor ul ul a:hover span {
    color: #fff;font-weight:bold;
}
div#menu-contenedor ul ul li.last { background: none; }
div#menu-contenedor ul ul li {
    width: 100%;
}

/* menu::level3 */
div#menu-contenedor ul ul ul {
    padding: 0;
    margin: -38px 0 0 163px !important;
    margin-left:172px;
}

/* colors */
div#menu-contenedor ul ul ul { background: rgb(14,14,14);border-left:1px solid #D1D1D1;border-right:1px solid #D1D1D1; }
div#menu-contenedor ul ul ul ul { background: rgb(38,38,38); }
div#menu-contenedor ul ul ul ul { background: rgb(35,35,35);border-top:1px solid #D1D1D1; }

/* lava lamp */
div#menu-contenedor li.back {
    background: url(images_eapisi/lava.png) no-repeat right -44px !important;
    background-image: url(../images_eapisi/lava.gif);
    width: 13px;
    height: 44px;
    z-index: 8;
    position: absolute;
    margin: -1px 0 0 -5px;
}
div#menu-contenedor li.back .left {
    background: url(images_eapisi/lava.png) no-repeat top left !important;
    background-image: url(images_eapisi/lava.gif);
    height: 44px;
    margin-right: 8px;
}

/* COntenido*/
label{
    font-family:icon;
    text-shadow:0 -1px 0 #666;
    -webkit-font-smoothing: antialiased; 
        
}
#block,#option{
    width:230px;
    height:113px;   
}
#block{
    background:#423143;
}
#block:before{
    content:'';
    display:block;
    width:230px;
    height:3px;
        /* The rainbow*/
    background:#75289A;

}
#block:after{
    content:'';
    display:block;
    width:15px;
    height:15px;
    background:#423143;
    transform:rotate(-45deg);
    margin:10px 18px;
    position:absolute;
}
#block label, #ingresar{
    position:absolute;
    width:33px;
    height:34px;
    background:#dedede;
    margin:14px -50px -75px -100px;
    text-align:center;
    line-height:2.2;
    color:#857487;
    border-top-left-radius:2px;
    border-bottom-left-radius:2px;
}
#block label#pass{
    position:absolute;
    width:33px;
    height:34px;
    background:#dedede;
    margin:-5px -50px -75px -100px;
}
#ingresar{
    border:0;
    margin:-28px -50px -75px 62px;
    border-top-left-radius:0px;
    border-bottom-left-radius:0px;
    border-top-right-radius:2px;
    border-bottom-right-radius:2px;
    font-family:icon;
    background:#ae6cac;
    text-shadow:0 -1px 0 #333;
        box-shadow:-1px 0 1px 0px #6c5b6d;
    font-size:12px;
    line-height:2.8;
    padding:0;
}
#ingresar:hover{
    color:#fff;
}
#user, #pass{
    box-shadow:0.1px 0 2px #6c5B6d;
}
#block input[type=text],#block  input[type=password], #option p {
    font-family:'Open Sans';
    font-weight:300;
    -webkit-font-smoothing: antialiased;
}
#block input[type=text],#block  input[type=password]{
    width:156px;
    height:32px;
    margin:15px 15px;
    border:0;
    border-radius:2px;
    outline:0;
    display:block;
    font-size:18px;
}
#block input[type=password]{
    width:156px;
    height:32px;
    margin:-5px 15px;
}
#ingresar{
    color:#fff;font-size:8px;font-weight:bold;
}
#option{
    width:230px;
    height:80px;
    overflow:hidden;
    margin:auto;
}
#option p{
    color:#6c5B6d;
    font-size:24px;
    text-transform:uppercase;
    padding:0px 18px;
    margin-top:15px;
    display:block;
    float:left;
    -webkit-font-smoothing: antialiased;
/*text-shadow:0 -1px 0 #000;*/  
}
#option a{
    -webkit-font-smoothing: antialiased;
    color:#6c5B6d;
    /*text-shadow:0 -1px 0 #000;*/
    font-size:12px;
    display:block;
    float:right;
    margin:26px 15px;
}

input{padding-left:40px;}
#block:active > #block:before{
    background-position:100px 100px;
}

/* placeholder */
::-webkit-input-placeholder {
    -webkit-font-smoothing: antialiased;
    color:#999;
    font-size:16px;
}
:-moz-input-placeholder {  
    color:#999;
    font-size:16px;
}